/* colors:
#f29d5c pink
#3d7244 green
#eaeaea light grey
#4c514d dark grey
#8c3838 maroon
#f9f9ef creame
*/

body {
  background-image: url(Pictures/salmon.png);
  background-repeat: no-repeat;
  background-color: #3d7244;
  background-position: center 150px;
  font-family: 'Amatic SC', cursive;
  color: #efddd7;
}
.container {
  max-width: 70%;
  position:relative;
  margin: auto;
  border: 1px solid blue;
  height: 300px;
}
h1 {
  font-family: 'Frijole', cursive;
  text-align: center;
  margin: 10px 0px;
  font-size: 70px;
  color: #efddd7;
  -webkit-text-stroke: 1px #8c3838;

}
h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.1em;
  text-align: center;
  color: #101011;
  line-height: 1.1;

}
#starburst{
  width: 170px;
  position: relative;
  margin: -0px 0px 0px 27%;

}
#starburstText {
  transform: rotate(-30deg);
  position: absolute;
  margin: -125px 0px 0px  24%;
  z-index: 1;
}

#tagLine {;
  font-size: 1em;
}
aside {
  max-width: 30%;
  background-color: #8c3838;
  float: left;
  height: 100%;
  margin: 100px 0px 0px 0px
}
header{
  margin-top: 50px;
  text-align: center;
  max-width: 100%;
  border: 3px solid #red;

  border-top: 2px solid #efddd7;
  border-bottom: : 2px solid #efddd7;
  margin-bottom: 50px;
  overflow: visible;

}
ul{
}
li{
  display:inline;
  margin:5%;
  vertical-align: middle;
  font-size: 25px;
  overflow: visible;
}

}
form {
  background-color: #3d7244;
}
p {

}
.fishIcon{
  object-fit: fill;
  max-width: 100%;
  margin-right: -30px;
}
